<%- include('./partials/header.ejs') %>

<main class="main_content">
    <div class="container">
      <div class="intro">
        <p class="h5 mb-3">GearsArena is your go to place for trading your sport items</p>
        <p> You can grab and trade sports gears. We have a collection for
            Football, Golf, Baseball and many more</p>
        
      </div>
    </div>
  </main>


<%- include('./partials/footer.ejs') %>