<%- include('./partials/header.ejs') %>

<main class="main_content">
    <div class="container">
      <div class="intro">
        <p class="h5 mb-3">Developed by: Saumitra Apte</p>
        <p> email: sapte@uncc.edu</p>
        
      </div>
    </div>
  </main>


<%- include('./partials/footer.ejs') %>