<%- include('./partials/header.ejs') %>
<main class="main_content">
    <div class="container">
      <div class="intro">
        <p class="h3 mb-3">Welcome to GearsArena! You can grab and trade sports gears. We have a collection for
          Football, Golf, Baseball and many more.</p>
        <p class="h4"> Time to step up your game! </p>
        <a href="./trades.html" class="btn btn-primary">Start here</a>
      </div>
    </div>
  </main>
<%- include('./partials/footer.ejs') %>