<footer>
    <div>
      <ul class="nav footer_nav">
        <li class="nav-item">
          <a class="nav-link active" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <div class="footer-copyright text-center py-1">© 2022 Copyright:
        <a href="/" class="text-white">GearsArena</a>
      </div>
    </div>

  </footer>
</div>
</body>

</html>