<!DOCTYPE html>
<head>
  <title>
    GearsArena
  </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/fonts/fonts.css" />
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="navigation">
        <nav class="navbar">
          <a class="navbar-brand branding logo" href="/">GearsArena</a>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="/trades/new">Start Trading</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/new">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">Logout</a>
            </li>
          </ul>
        </nav>

        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/trades">Trades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trades/new">New Trade</a>
          </li>

        </ul>
        
      </div>
      <% if(errorMessages.length>0){

        errorMessages.forEach(message=>{ %>

            <div><%=message%></div>
            
    <%    }) } %>

    
    <% if(successMessages.length>0){

        successMessages.forEach(message=>{ %>

            <div><%=message%></div>
            
    <%    }) } %>
    </header>