<%- include('../partials/header.ejs')%>

<main class="main_content">
    <div class="container">
      <div class="intro">
       <p>Welcome, <%= user.firstName +" " + user.lastName  %> </p>
      </div>
    </div>
  </main>








<main class="main_content">
<!-- <h2>Welcome, <%= user.firstName +" " + user.lastName  %></h2> -->

</main>
<%- include('../partials/footer.ejs')%>